USE [master]
GO
/****** Object:  Database [PBAP]    Script Date: 04/01/2017 7:57:49 PM ******/
CREATE DATABASE [PBAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLWIN10TP\MSSQL\DATA\PBAP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PBAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLWIN10TP\MSSQL\DATA\PBAP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBAP]
GO
/****** Object:  Table [dbo].[Auths]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auths](
	[AuthID] [int] IDENTITY(1,1) NOT NULL,
	[AuthType] [nvarchar](20) NULL,
	[AuthKey] [nvarchar](150) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[AuthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogTitle] [nvarchar](20) NULL,
	[LogContent] [nvarchar](250) NULL,
	[LogType] [nvarchar](20) NULL,
	[UserID] [int] NULL,
	[LogDate] [datetime] NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionID] [int] NULL,
	[PaymentAmount] [decimal](18, 2) NULL,
	[PaymentDate] [nchar](10) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaymentType] [nvarchar](20) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[SeminarID] [int] NULL,
	[UserID] [int] NULL,
	[PaymentID] [int] NULL,
	[VoucherID] [int] NULL,
	[ReservationStatus] [nvarchar](50) NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SeminarDetails]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeminarDetails](
	[SeminarDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[SeminarTranscript] [nvarchar](50) NULL,
	[SeminarID] [int] NULL,
 CONSTRAINT [PK_SeminarDetails] PRIMARY KEY CLUSTERED 
(
	[SeminarDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seminars]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seminars](
	[SeminarID] [int] IDENTITY(1,1) NOT NULL,
	[SeminarCode] [nvarchar](50) NULL,
	[SeminarTitle] [nvarchar](50) NULL,
	[SeminarArea] [nvarchar](50) NULL,
	[SeminarUnits] [nvarchar](10) NULL,
	[SeminarDescription] [nvarchar](max) NULL,
	[SeminarFee] [decimal](18, 2) NULL,
	[SeminarLocation] [nvarchar](150) NULL,
	[SeminarDate] [datetime] NULL,
	[SeminarSpeaker] [int] NULL,
	[SeminarStatus] [nvarchar](20) NULL,
 CONSTRAINT [PK_Seminars] PRIMARY KEY CLUSTERED 
(
	[SeminarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SeminarSpeakers]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeminarSpeakers](
	[SeminarSpeakerID] [int] IDENTITY(1,1) NOT NULL,
	[SeminarSpeakerTitle] [nvarchar](20) NULL,
	[SeminarSpeakerFN] [nvarchar](20) NULL,
	[SeminarSpeakerLN] [nvarchar](20) NULL,
	[SeminarSpeakerTel] [nvarchar](20) NULL,
	[SeminarSpeakerEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK_SeminarSpeaker] PRIMARY KEY CLUSTERED 
(
	[SeminarSpeakerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionType] [nvarchar](20) NULL,
	[SubscriptionStatus] [nvarchar](20) NULL,
	[SubscriptionStartDate] [datetime] NULL,
	[SubscriptionEndDate] [datetime] NULL,
	[SubscriptionTotalAmnt] [decimal](18, 2) NULL,
	[SubscriptionRunningBal] [nchar](10) NULL,
	[VoucherID] [int] NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserFirstName] [nvarchar](100) NULL,
	[UserMidName] [nvarchar](100) NULL,
	[UserLastName] [nvarchar](100) NULL,
	[UserBday] [datetime] NULL,
	[UserCompany] [nvarchar](100) NULL,
	[UserPosition] [nvarchar](100) NULL,
	[UserEmail] [nvarchar](100) NULL,
	[UserFaxNo] [nvarchar](20) NULL,
	[UserTelNo] [nvarchar](20) NULL,
	[UserMobileNo] [nvarchar](20) NULL,
	[UserAddress] [nvarchar](250) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[UserStatus] [nvarchar](10) NULL,
	[UserIP] [nvarchar](50) NULL,
	[UserType] [nvarchar](50) NULL,
	[SubscriptionID] [int] NULL,
	[UserAuthID] [int] NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 04/01/2017 7:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherCode] [nvarchar](100) NULL,
	[VoucherExpiry] [datetime] NULL,
	[VoucherDisc] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Seminars] ON 

SET IDENTITY_INSERT [dbo].[Seminars] OFF
SET IDENTITY_INSERT [dbo].[SeminarSpeakers] ON 

INSERT [dbo].[SeminarSpeakers] ([SeminarSpeakerID], [SeminarSpeakerTitle], [SeminarSpeakerFN], [SeminarSpeakerLN], [SeminarSpeakerTel], [SeminarSpeakerEmail]) VALUES (1, N'Dr.', N'Steven', N'Tomas', N'12345', N'steven.tomas@live.com')
INSERT [dbo].[SeminarSpeakers] ([SeminarSpeakerID], [SeminarSpeakerTitle], [SeminarSpeakerFN], [SeminarSpeakerLN], [SeminarSpeakerTel], [SeminarSpeakerEmail]) VALUES (2, N'Mr.', N'James', N'Bond', N'41231', N'jamesbond@live.com')
INSERT [dbo].[SeminarSpeakers] ([SeminarSpeakerID], [SeminarSpeakerTitle], [SeminarSpeakerFN], [SeminarSpeakerLN], [SeminarSpeakerTel], [SeminarSpeakerEmail]) VALUES (3, N'Ms.', N'Jenny', N'Bond', N'41232', N'jbond@live.com')
SET IDENTITY_INSERT [dbo].[SeminarSpeakers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
